body{
    /* border: 1px solid blue; */
    padding: 0;
    margin: 0;
    height: 99vh;
    overflow: hidden;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

button{
    width: 50px;
    height: 50px;
}

.container{
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    /* border: 1px solid black; */
}

.logo{
    display: flex;
    justify-content: center;
}

.gridContainer{
    width: 30vw;
    height: 50vh;
    /* border: 1px solid black; */
    
}

.rightSquare, .leftSquare{
    width: 2.7vw;
    height: 4.5vh;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shipSquare{
    border: 1px solid darkblue;
    background-color: dodgerblue;
    opacity: 0.7;
}

.rightContainer , .leftContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 7px;
    gap: 2px;
}

.inactiveBoard{
    opacity: 0.3;
}

.gameInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 150px;
}

